<form class="col-sm-7 col-sm-offset-2 search-bar" role="search">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search">
    <span class="input-group-addon">Submit</span>
  </div>
</form>
