  <div class="row">
  	<div class="col-md-10">
  	<h2>LBGs</h2>
	  <div class="table-responsive">
	  <table class='table table-hover'>
	    <thead>
	      <tr>
	        <th>LBG</th>
	        <th>Members</th>
	      </tr>
	    </thead>
	
	    <tbody> 
	      <% @lbgs.each do |lbg| %>
	        <tr>
	          <td><%= link_to lbg.name, lbg_path(lbg) %></td>
	          <td><%= lbg.users.count %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
	</div>
  </div>